.main{
  width: 74%;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main{
    width: 80%;
  }
}

.content{
  // font-size: 18px;
}

.subcontents{

}

table td {
  border: solid 1px #e8eef4;
  padding: 5px;
}

h2{
  margin-top: 35px;
}


table{
  width:640px;
}

@media (min-width: 300px) and (max-width: 767px) {
  table{
    width:300px;
  }
}

.donateSection{
  margin-bottom: 25px;
}

.donate{
  font-weight: bold;
  font-size: 20px;
  display: contents;
  color: cornflowerblue;
  margin-bottom: 15px;
}

.thanks{
  color: darkblue;
}