<div class="main">
  <h1>BTTC News (Last update: Aug. 5, 2022)</h1>
  <div class="subcontents">
    <p class="content">
      <strong>
        The Bellevue Table Tennis Club’s facility rentals at Crossroads
        Community Center and the Club’s Agreement for Services with the City of
        Bellevue dated December 14, 2021, are suspended from August 5, 2022,
        until September 4, 2022. This suspension will include Friday, Saturday,
        and Sunday table tennis programs.</strong>

        </p>
      <p>
      <a
        href="http://www.bttclub.org/SiteContents/Docs/2022_CenterLetter.pdf"
        title="BTTC temporary closure"
        target="_blank"
        >Click me to get more details here</a>
    </p>
  </div>

  <div>
    <h2>Coming tournament: TBD</h2>
    <!--
  <a href="http://www.bttclub.org/SiteContents/Docs/2019BellevueFallOpen.pdf" title="2019 Bellevue Fall Open">2019 Bellevue Fall Open (Sep. 14th and 15th)</a>
  -->
    <p>
      <a
        href="http://www.bttclub.org/SiteContents/Docs/2019FallWinners.xml"
        title="2019 Bellevue Fall Open Winners"
        target="_blank"
        >2019 Bellevue Fall Open Winners</a
      >
    </p>

    <div class="subcontents">
      <p>
        Let's go green.
        <br />
        Our tournament online registration is available at
        <a href="http://www.omnipong.com/" target="_blank"> http://www.omnipong.com</a>. Follow 4
        steps below to register your events (The
        <a
          href="http://www.bttclub.org/SiteContents/Docs/OnlineRegistrationInstructions.pdf"
          title="Online Registration Instructions"
          target="_blank"
          >complete instructions</a
        >
        are also available).
        <br />
        1. Login: If you are not a Omni-Pong member, follow the instructions on
        the website to register as a member.
        <br />
        2. Find BTTC hosted tournament and click "Enter" button under "Action"
        column. You will see your summary page.
        <br />
        3. Click "Events" on the left pane, you will see your event page.
        <br />
        4. Click each "Enter" button to register your events.
      </p>
      <p>
        Note, you still need to mail your check to BTTC before the deadline.
      </p>
    </div>
  </div>

  

  <h2>Schedule &amp; Fees (BTTC membership annual fee: $120.00)</h2>
  <div class="subcontents">

  <table class="table">
    <tr>
      <th>Event</th>
      <th>Time</th>
      <th>Fee/Person</th>
    </tr>
    <tr>
      <td>Drop-in</td>
      <td>Sunday 9:00 am – 1:00 pm</td>
      <td>Free (BTTC member)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>$8.00 (Non-BTTC member)</td>
    </tr>
    <tr>
      <td>Drop-in</td>
      <td>Friday 5:00 pm - 6:45 pm</td>
      <td>$4.00 (Bellevue residents)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>$5.00 (Non-Bellevue residents)</td>
    </tr>
    <tr>
      <td>Drop-in</td>
      <td>Saturday 9:15 am - 11:15 am</td>
      <td>$4.00 (Bellevue residents)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>$5.00 (Non-Bellevue residents)</td>
    </tr>
  </table>
</div>


  <h2>Special Programs on a first-come first-served basis</h2>
  <div class="subcontents">

  <table  class="table">
    <tr>
      <th>Lesson</th>
      <th>Sundays</th>
      <th>Fee/Hour</th>
      <th>Active Coach</th>
    </tr>
    <tr>
      <td>Individual</td>
      <td>9:00 am—1:00 pm</td>
      <td>
        <ul>
          $20.00/40min (BTTC member)
        </ul>
        <ul>
          $25.00/40min (Non-BTTC member)
        </ul>
      </td>
      <td>
        <ul>
          <li>Ryan Chan</li>
          <li>Peter Chang</li>
          <li>Philip Fung</li>
          <li>Utako Kase</li>
          <li>Jerry Li</li>
          <li>Kei Wakabayashi</li>
          <li>Mei Wang</li>
          <li>Yute Wang</li>
          <li>King Wu</li>
          <li>David Ye</li>
        </ul>
      </td>
    </tr>
  </table>
  </div>

  <br />
  <h2 class="thanks"
    >Special Thanks to Tommy Chung, Vadym Denysenko, Howard Grossman, Cindy Liu,
    Steve Ma, Chris Pham, Kelly Wang and Sophie Ye who had coached at BTTC
    before.</h2>

  <div class="donateSection">
  <p class="donate">
    All of the club coaches are volunteers and the fees are donated to BTTC. 
  </p><span> Fee details <a href="feeDetails/Aug.pdf" target="_blank">Click Me!</a>  </span>
  </div>
  <hr />


</div>
