<div class="main">
  <img
  class="aboutusImage"
  alt="Ping Pong Logo"
  src="../../../assets/contents/img/aboutus.jpg"
/>
  <p >
    The Bellevue Table Tennis Club (BTTC) is a non-profit organization that
    provides table tennis equipment such as tables, nets, and balls to local
    players with a small amount of charge. The goal of the club is to create a
    friendly environment for table tennis players of all levels and ages. We
    also hope to share our love of the sport with members of the local
    community.
  </p>
  <h4>Address:</h4>
  <p>
    Crossroads Community Center
    <br />
    16000 NE 10th Street
    <br />
    Bellevue, WA 98006
    <br />
  </p>
  <h4>Phone:</h4>
  <p>
    425-452-4874 (Center)
    <br />
    425-241-0332 (BTTC)
  </p>
  <h4>E-mail:</h4>
  <p>bttcinformation@gmail.com</p>

  <hr />
  <h3>
    All of the club coaches are volunteers and the fees are donated to BTTC.
  </h3>
</div>
